[includeIf "gitdir:~/projects/cubemos/"]
    path = ~/projects/cubemos/.gitconfig
[includeIf "gitdir:~/projects/oss/"]
    path = ~/projects/oss/.gitconfig
[includeIf "gitdir:~/projects/sh/"]
    path = ~/projects/sh/.gitconfig

[alias]
    lb = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    # Detailed branch listing with last commit
    br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) (%(color:green)%(committerdate:relative)%(color:reset))'
    # Simple branch view with verbose info
    bb = branch -vv
